// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.bg-gold {
  background-color: $primary;
}

.vidyard-player-container {
  box-shadow: 0 11px 25px rgba(0, 0, 0, 1.1);
}

.pride-section {
  background: linear-gradient(64deg, #2066A2 67%, transparent 67%), url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/60e9ef2b-87ce-49d5-8770-ef23e0b173f8.jpg);
  background-size: contain;
  background-position: right top;
  height: 500px;
}

.scroll-container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

.neg-mt-5 {
  margin-top: -3rem;
}


.gap-32 {
  gap:32px
}
.bg-skyblue {
  background-color: #3299D5;
}



.linear, .linear-b {
  background: linear-gradient(to bottom, transparent 15%, #3299D5 15%, #3299D5 85%, transparent 85%);
}

.linear-gold {
  background: linear-gradient(to bottom, transparent 15%, $primary 15%, $primary 85%, transparent 85%);
}


.highlight {
  background-color: $primary;
  line-height: 1.5;
}

.one-of-us {
  background-image: url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/6df8dc96-0879-4f35-be41-6c5895a80f20.png);
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding: 60px 0; /* Optional: Adds padding to the top and bottom of the section */
  color: white; /* Optional: Change text color for contrast */
  height: 500px;
  
}

.image-video-container {
  position: relative;
  justify-content: center;
  display: flex;
}

.dropdown-toggle {
  color: #00244E;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 130%; /* 26px */
background-color: transparent;
border-color: transparent;
width: 25%;
text-align: left;
}

.background-image {
  display: block;
  width: 49%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}
 //background position

.bg-image-art {
  width: 84%;
}

 .bg-img-tech{
  width: 71%;
}

.bg-img-support, .bg-img-business, .bg-img-dorm {
  width: 63%
}

.bg-img-sport {
  width: 79%
}
//video posistion
.overlay-video {
  position: absolute;
    top: 50%;
    left: 50%;
    height: 360px;
    width: 203px;
    z-index: 1;
    border-radius: 20px;

}
.love-it {
  transform: translate(-52%, -39%);

}
.dorm, .business, .support {
  transform: translate(-52%, -52%);
}

.art, .tech {
  transform: translate(-52%, -56%);
}

.sport {
  transform: translate(-59%, -52%);
}

.esport {
  transform: translate(-54%, -52%);
}
.manchester {
    transform: translate(-45%, -52%);

}

.w-70 {
  width: 70%
}


.icon-text {
  color: #0D2D65;
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 148%; /* 26.64px */
}


.parent-text {
  color: #0D2D65;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 44.8px */

}


.parent-text-p {
  color: #0B1A32;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 148%; /* 23.68px */
}

.accordion-button {
  background-color: #F9F9F9 !important;
}


.mobile-like-us {
  display: none;
}

.icon-love {
  width: 70%;
}

@media only screen and (max-width: 990px) {
  .pride-section {
      background: linear-gradient(64deg, #2066A2 100%, transparent 60%);
      background-size: auto;
      background-position: right top;
      height: 500px;
  }

  .white-bg-small {
    background-color: #fff;
  }
  .jumbo-head-text {
    text-align: center;
  }
  .one-of-us {
    background-image: none;
    padding: 0;
    color: white; 
    height:auto;
    
  }

  .mobile-like-us {
    display: block;
  }

  .jumbo-btns {
    justify-content: center;
  }
  
  .background-image {
    width: 73%;
  }

  .icon-love {
    width: 33%;
  }

  .bg-img-support, .bg-img-business, .bg-img-dorm, .bg-img-tech {
    width: 100%
  }

  .bg-image-art {
    width: 84%;
  }
  
  .linear {
    background: linear-gradient(to bottom, transparent 38%, #3299D5 38%, #3299D5 100%);
    height: 45rem
  }

  .linear-b {
    background: linear-gradient(to bottom, transparent 30%, #3299D5 30%, #3299D5 100%);
    padding: 3rem;
  }

  .linear-gold {
    background: linear-gradient(to bottom, transparent 25%, $primary 25%, $primary 100%);
    height:35rem;
  }

  .btn-group-wait {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .group-img {
    margin-bottom: 50px;
  }

  .booked-img {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .book-text {
    text-align: center;
  }
}

  
  
  
 
  
  
 
  