// styles.scss

@import "./Sass/Utilities/variables";
@import "./Sass/Utilities/themes";
@import "./Sass/Components/accordion";
@import "./Sass/Components/accrediation";
@import "./Sass/Components/buttons";
@import "./Sass/Components/card";
@import "./Sass/Components/footer";
@import "./Sass/Components/nav";
@import "./Sass/Utilities/assets";
@import "./Sass/Utilities/global";


body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.bg-gold {
  background-color: $primary;
}

.vidyard-player-container {
  box-shadow: 0 11px 25px rgba(0, 0, 0, 1.1);
}

.pride-section {
  background: linear-gradient(64deg, #2066A2 67%, transparent 67%), url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/60e9ef2b-87ce-49d5-8770-ef23e0b173f8.jpg);
  background-size: contain;
  background-position: right top;
  height: 500px;
}

.scroll-container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

.neg-mt-5 {
  margin-top: -3rem;
}

.bg-skyblue {
  background-color: #3299D5;
}



.linear {
  background: linear-gradient(to bottom, transparent 15%, #3299D5 15%, #3299D5 85%, transparent 85%);
}

.linear-gold {
  background: linear-gradient(to bottom, transparent 15%, $primary 15%, $primary 85%, transparent 85%);
}


.highlight {
  background-color: $primary;
}

.one-of-us {
  background-image: url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/6df8dc96-0879-4f35-be41-6c5895a80f20.png);
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding: 60px 0; /* Optional: Adds padding to the top and bottom of the section */
  color: white; /* Optional: Change text color for contrast */
  height: 84vh;
  
}

.image-video-container {
  position: relative;
  left: 24%
}

.background-image {
  display: block;
  width: 49%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.overlay-video {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-59%, -39%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.image-video-container-r {
  position: relative;
  left: 24%
}

.background-image-r {
  display: block;
  width: 62%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.overlay-video-r {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-45%, -52%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.background-image-art {
  display: block;
  width: 71%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.overlay-video-art {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-28%, -56%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.background-image-sport {
  display: block;
  width: 76%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.overlay-video-sport {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-28%, -52%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.overlay-video-sport {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-22%, -52%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.overlay-video-man {
  position: absolute;
  top: 50%;
  left: 28%;
  transform: translate(-14%, -52%);
  height: 360px;
  width: 197px;
  z-index: 1;
  border-radius: 20px;
}

.w-70 {
  width: 70%
}


.icon-text {
  color: #0D2D65;
text-align: center;
font-feature-settings: 'liga' off, 'clig' off;
font-family: "Open Sans";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 148%; /* 26.64px */
}


@media only screen and (max-width: 990px) {
  .pride-section {
      background: linear-gradient(64deg, #2066A2 100%, transparent 60%);
      background-size: auto;
      background-position: right top;
      height: 500px;
  }

  .white-bg-small {
    background-color: #fff;
  }

  .snap-point {
    scroll-snap-align: start;
  }
}

  
  
  
 
  
  
 
  