/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

.accordion-header {
  font-weight: 600;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  color: #0a3370;
}

.accordion-button.collapsed::after {
  font-family: "FontAwesome";
  content: "\f067";
  font-size: 1rem;
  color: #0a3370;
  float: right;
  background-image: none;
}

.accordion-button:not(.collapsed)::after {
  font-family: "FontAwesome";
  content: "\f068";
  color: #0a3370;
  float: right;
  font-size: 1.25rem;
  background-image: none;
  transform: none;
}

/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
.btn {
  padding: 0.6rem 0.9rem;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.btn-primary {
  background-color: #fdb913;
  border-color: #fdb913;
  color: #0a3370;
}
.btn-primary:hover {
  background-color: #fee097;
  border-color: #fee097;
  color: #0a3370;
}

.btn-secondary {
  background-color: #0a3370;
  border-color: #0a3370;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #fff;
  border-color: #fff;
  color: #0a3370;
}

.chat-btn {
  position: fixed;
  transform: rotate(-90deg);
  right: -22px;
  top: 70vh;
  z-index: 1;
  font-weight: 600;
  font-size: var(--font-size-md);
}

@media only screen and (max-width: 576px) {
  .mobile-btn-w {
    width: 100%;
    margin-bottom: 0.275rem;
  }
}
.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
h1 {
  color: #0a3370;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

h2 {
  margin-bottom: 1.5rem;
  color: #0D2D65;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

h3 {
  color: #2066a2;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

p,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #00244e;
  line-height: 1.5;
}

li {
  margin-bottom: 15px;
}

a.head-link {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

a.head-link:hover,
a.head-link:focus {
  -webkit-text-decoration: underline #70abdb 2px;
          text-decoration: underline #70abdb 2px;
  text-underline-offset: 5px;
  cursor: pointer;
  color: #fff;
}

a {
  color: #0a3370;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .sm-col-rev {
    flex-direction: column-reverse !important;
  }
}
/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
.card-header {
  font-size: 1.25rem;
  font-weight: 700;
  color: #0a3370;
  font-family: "Open Sans", sans-serif;
}

.list-group-item {
  border: none;
}

.card-info-header {
  color: #0a3370;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.card-paragraph {
  font-weight: 400;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.min-h-18 {
  min-height: 18rem;
}

.snhu-logo-footer {
  height: auto;
  width: 100%;
}

footer {
  background-color: #00244E !important;
  color: #FFFFFF;
}

footer p, footer a {
  color: #FFFFFF;
}

footer a {
  font-size: 1rem;
}

footer.mobile {
  display: none;
}

.navbar {
  background-color: #00244e;
}

@media only screen and (max-width: 576px) {
  .navbar > .container {
    justify-content: center;
    text-align: center;
  }
  .navbar-nav {
    flex-direction: row;
  }
}
.ink-blue {
  color: #00244e;
}

.heritage {
  color: #0a3370;
}

.bg-lightgray {
  background: #F9F9F9;
}

/* Font size */
/* 18px */
/*20 px*/
/*24px h2 tag */
/* 32px */
/* 36px */
/* 40px  h1 tag* /
$font-size-7xl: 4rem; /*64px */
h1 {
  color: #0a3370;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

h2 {
  margin-bottom: 1.5rem;
  color: #0D2D65;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

h3 {
  color: #2066a2;
  font-size: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
}

p,
li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #00244e;
  line-height: 1.5;
}

li {
  margin-bottom: 15px;
}

a.head-link {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  text-decoration: none;
}

a.head-link:hover,
a.head-link:focus {
  -webkit-text-decoration: underline #70abdb 2px;
          text-decoration: underline #70abdb 2px;
  text-underline-offset: 5px;
  cursor: pointer;
  color: #fff;
}

a {
  color: #0a3370;
  font-weight: 700;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .sm-col-rev {
    flex-direction: column-reverse !important;
  }
}
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.bg-gold {
  background-color: #fdb913;
}

.vidyard-player-container {
  box-shadow: 0 11px 25px rgb(0, 0, 0);
}

.pride-section {
  background: linear-gradient(64deg, #2066A2 67%, transparent 67%), url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/60e9ef2b-87ce-49d5-8770-ef23e0b173f8.jpg);
  background-size: contain;
  background-position: right top;
  height: 500px;
}

.scroll-container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

.neg-mt-5 {
  margin-top: -3rem;
}

.gap-32 {
  gap: 32px;
}

.bg-skyblue {
  background-color: #3299D5;
}

.linear, .linear-b {
  background: linear-gradient(to bottom, transparent 15%, #3299D5 15%, #3299D5 85%, transparent 85%);
}

.linear-gold {
  background: linear-gradient(to bottom, transparent 15%, #fdb913 15%, #fdb913 85%, transparent 85%);
}

.highlight {
  background-color: #fdb913;
  line-height: 1.5;
}

.one-of-us {
  background-image: url(https://image.dream.snhu.edu/lib/fe9213737460007973/m/1/6df8dc96-0879-4f35-be41-6c5895a80f20.png);
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  padding: 60px 0; /* Optional: Adds padding to the top and bottom of the section */
  color: white; /* Optional: Change text color for contrast */
  height: 500px;
}

.image-video-container {
  position: relative;
  justify-content: center;
  display: flex;
}

.dropdown-toggle {
  color: #00244E;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
  background-color: transparent;
  border-color: transparent;
  width: 25%;
  text-align: left;
}

.background-image {
  display: block;
  width: 49%;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.bg-image-art {
  width: 84%;
}

.bg-img-tech {
  width: 71%;
}

.bg-img-support, .bg-img-business, .bg-img-dorm {
  width: 63%;
}

.bg-img-sport {
  width: 79%;
}

.overlay-video {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 360px;
  width: 203px;
  z-index: 1;
  border-radius: 20px;
}

.love-it {
  transform: translate(-52%, -39%);
}

.dorm, .business, .support {
  transform: translate(-52%, -52%);
}

.art, .tech {
  transform: translate(-52%, -56%);
}

.sport {
  transform: translate(-59%, -52%);
}

.esport {
  transform: translate(-54%, -52%);
}

.manchester {
  transform: translate(-45%, -52%);
}

.w-70 {
  width: 70%;
}

.icon-text {
  color: #0D2D65;
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 148%; /* 26.64px */
}

.parent-text {
  color: #0D2D65;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 44.8px */
}

.parent-text-p {
  color: #0B1A32;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}

.accordion-button {
  background-color: #F9F9F9 !important;
}

.mobile-like-us {
  display: none;
}

.icon-love {
  width: 70%;
}

@media only screen and (max-width: 990px) {
  .pride-section {
    background: linear-gradient(64deg, #2066A2 100%, transparent 60%);
    background-size: auto;
    background-position: right top;
    height: 500px;
  }
  .white-bg-small {
    background-color: #fff;
  }
  .jumbo-head-text {
    text-align: center;
  }
  .one-of-us {
    background-image: none;
    padding: 0;
    color: white;
    height: auto;
  }
  .mobile-like-us {
    display: block;
  }
  .jumbo-btns {
    justify-content: center;
  }
  .background-image {
    width: 73%;
  }
  .icon-love {
    width: 33%;
  }
  .bg-img-support, .bg-img-business, .bg-img-dorm, .bg-img-tech {
    width: 100%;
  }
  .bg-image-art {
    width: 84%;
  }
  .linear {
    background: linear-gradient(to bottom, transparent 38%, #3299D5 38%, #3299D5 100%);
    height: 45rem;
  }
  .linear-b {
    background: linear-gradient(to bottom, transparent 30%, #3299D5 30%, #3299D5 100%);
    padding: 3rem;
  }
  .linear-gold {
    background: linear-gradient(to bottom, transparent 25%, #fdb913 25%, #fdb913 100%);
    height: 35rem;
  }
  .btn-group-wait {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .group-img {
    margin-bottom: 50px;
  }
  .booked-img {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .book-text {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */